*.edge
*.obs_vstat
*.inf_coord
*.inf_coord_raw
*.inf_log
*.inf_pconn
*.inf_theta_density
*.inf_vprop
*.inf_vstat
*.gen_coord

mercator

*.tar.gz

*.DS_Store

*.o

*.out

*.pdf

*.py

!setup.py
!scripts/plot_validation_of_embedding.py
